<div class="main">
  <div class="container-fluid px-0">
    <!--    nav bar implementation-->
    <nav class="navbar navbar-top navbar-expand">
      <div class="collapse navbar-collapse justify-content-between">
        <div class="navbar-logo">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center">
              <img class="logo-padding-left" src="https://la3eb.com/assets/img/logo-full-white-min.png" width="150"
                   alt="LA3EB">
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--    page style-->
    <div class="content">
      <div class="pb-5">
        <div class="container-fluid">
          <div class="row g-4">
            <div class="col-6 col-xxl-6" >
              <app-dashboard></app-dashboard>
            </div>
            <div class="col-6 col-xxl-6">
              <div class="row">
                <div class="col-6 col-xxl-6 col-md-6 padding-10" >
                  <div class="card h-100">
                    <app-barchart></app-barchart>
                  </div>
                </div>
                <div class="col-6 col-xxl-6 col-md-6 padding-10" >
                  <div class="card h-100">
                    <app-linechart></app-linechart>
                  </div>
                </div>
                <div class="col-6 col-xxl-6 col-md-6 padding-10" >
                  <div class="card h-100">
                    <app-doughnut></app-doughnut>
                  </div>
                </div>
                <div class="col-6 col-xxl-6 col-md-6 padding-10" >
                  <div class="card h-100">
                    <app-bubble></app-bubble>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-6 col-sm-6">-->
<!--      <canvas id="BarChart">{{ chart }}</canvas>-->
<!--    </div>-->
<!--    <div class="col-md-6 col-sm-6">-->
<!--      <canvas id="DoughnutChart">{{ chart3 }}</canvas>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<app-barchart></app-barchart>-->
<!--<app-dashboard></app-dashboard>-->

<!--<div class="chart-container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-6 col-sm-6">-->
<!--      <canvas id="lineChart">{{ chart2 }}</canvas>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->



