<div class="main-content">
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-light">
          <img src="https://la3eb.com/assets/img/logo-full-white-min.png" alt="LA3EB">
    </nav>
    <router-outlet></router-outlet>


</div>
<div class="chart-container"  >
  <div class="row">
    <div  class="col-md-6 col-sm-6" >
       <canvas  id="BarChart" >{{ chart }}</canvas>
    </div>
    <div  class="col-md-6 col-sm-6" >
      <canvas  id="DoughnutChart" >{{ chart3 }}</canvas>
    </div>
  </div>
</div>
<app-bar-chart></app-bar-chart>

<div class="chart-container">
  <div  class="row">
    <div  class="col-md-6 col-sm-6" >
      <canvas  id="lineChart" >{{ chart2 }}</canvas>
    </div>

  </div>
</div>


<app-bar-chart></app-bar-chart>

